<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="SchedulerEndPoint" value="https://localhost:44371/"/><!--58344-->
    <add key="SchedulerEndPointOnline" value="http://sceduletech-001-site1.itempurl.com/"/>
  </appSettings>
<connectionStrings>
      <add name="SchedulerDb"
         connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=SchedulerProject;Integrated Security=true"
         providerName="System.Data.SqlClient" />
</connectionStrings>
</configuration>